---
import Card from '../components/Card.astro';
import TailwindCard from '../components/TailwindCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Welcome to <span class='text-gradient'>Astro-Portfolio</span></h1>

    <div class='instructions'>
      <p class='instructions-text'>
        Here I will try out all the cool stuff Astro has to offer while creating
        my portfolio website 🚀
      </p>
    </div>

    <ul role='list' class='link-card-grid'>
      <TailwindCard
        title='Hello tailwind'
        text='Adding tailwind was straightforward, just run one command form astro docs and works like a charm! 🌈🦄'
      />
      <Card
        href='https://docs.astro.build/'
        title='Documentation'
        body='Learn how Astro works and explore the official API docs.'
      />
      <Card
        href='https://astro.build/integrations/'
        title='Integrations'
        body='Supercharge your project with new frameworks and libraries.'
      />
      <TailwindCard
        title='Color as props'
        text='That kidn of suck in tailwind because you cannot do e.g. bg-${col}-300, class string has to be static'
        color={'red'}
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    white-space: nowrap;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    /* padding: 1rem; */
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background-position: 100%;
    transition: background-position 2s cubic-bezier(0.22, 1, 0.36, 1);
    background-size: 400%;
  }

  .instructions:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }

  .instructions-text {
    opacity: 0.7;
    background-color: white;
    margin: 0.3rem;
    border-radius: 5px;
    padding: 2rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
